//browser-sync notification pop-up
#__bs_notify__ {
  top: 50% !important;
  right: 10px !important;
  border-radius: 15px !important;
  height: 50px !important;
  background-color: $hover !important;
  // TURN OFF ALLTOGETHER
  display: none !important;
}

// or with no notifictaion
// browser-sync start -p "http://blanco1:8888/" --files="**/*"  --no-notify

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.push-down {
  flex: 1;
}

.button {
  margin: 2rem 0 0;
  padding: .5rem;

  span {
    padding: .25rem .75rem;
    // border-radius: 10px;
    background-color: $mauve;
    color: white;
    // @include b1();
    line-height: 1;
    @include fontSize(28px);
    font-weight: 600;
    cursor: pointer;

    transition: .2s;

    &:hover {
      color: white;
      background-color: $yellow;
    }
  }
}



// FLEX -- FLEX -- FLEX -- FLEX -- FLEX -- FLEX -- 
// FLEX -- FLEX -- FLEX -- FLEX -- FLEX -- FLEX -- 
// FLEX -- FLEX -- FLEX -- FLEX -- FLEX -- FLEX -- 
// GLOBALS -- GLOBALS -- GLOBALS -- 


//full-bleed section, aligning title to center
.full-width {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

// section flex row, column on mobile
.section-row {
  display: flex;
  flex-direction: column;

  @include media-lrg {
    flex-direction: row;
  }
}

// an absolute div to place our bkg img element in
.background-image-cont {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  img {
    object-fit: cover;
    // object-position: center;
    height: 100%;
    // width: unset;
  }
}
